@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body{
    height: 100vh;
    background: #1f1c2e;
}

p{
    margin: 0;
}

.hi{
    padding: 20px 25px;
    background: white;
    border-radius: 15px;
    color: #7745ce;
    margin-bottom: 20px;
}

#app-69{
    width: 23.5%;
    padding-top: 10.5%;
    margin: auto;
    filter: url('#goo');
    font-size: 30px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

svg{
    display: none;
}

.block,
.block2{
    position: relative;
    width: 33vmin;
    height: 15vmin;
    color: white;
    background: #6745ff;
    border-radius: 50px;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vmin;
    border-radius: 70px;
}
.block small,
.block2 small{
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
}
.block2{
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
}
.block2.show{
    transform: translateY(30%);
    animation: animate ease-out alternate .5s;
}
.block2.close{
    animation: animateClose ease-in alternate .6s;
}
.textBlock p,
.textBlock small{
    animation: textDisplay 1.5s ease-in;
}
#toggle{
    content: '#f107';
    position: absolute;
    top: 48.8%;
    border: none;
    left: 45.8%;
    z-index: 1;
    background: white;
    width: 45px;
    height: 45px;
    font-size: 22px;
    outline: none;
    transition: .5s;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000061;
}
#toggle i{
    transition: 1s;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 11px;
    left: 27%;
}
.rotate{
    transform: rotate(180deg);
}
.liquid1,
.liquid2,
.liquid3{
    z-index: -1;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    position: absolute;
    transition: .5s;
    bottom: -10px;
    background: inherit;
}
.liquid1{ right: 40px; width: 10px; height: 80px;}
.liquid2{ left: 20px; transform: rotate(-40deg); width: 30px;}
.liquid3{ left: 130px; bottom: -25px; height: 100px;}

.Aliquid1,
.Aliquid2,
.Aliquid3{
    z-index: -1;
    width: 60px;
    transition: .5s;
    height: 80px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    background: inherit;
}
.Aliquid1{ right: 60px; top: -30px;}
.Aliquid2{ left: 25px; transform: rotate(-20deg)}
.Aliquid3{ left: 105px; top: -10px;}

@keyframes animate{
    from{transform: translateY(-90%)}
    to{transform: translateY(30%)}
}
@keyframes animateClose{
    from{transform: translateY(30%)}
    to{transform: translateY(-100%)}
}
@keyframes textDisplay{
    from{ opacity: 0}
    to{ opacity: 1;}
}